:root {--primary-text-color:rgba(117, 117, 117, 1); 
--title-text-color: rgba(33,33, 33, 1);
--blue-color: rgba(33, 150, 243, 1);
--white-color: rgba(255, 255, 255, 1); 
--white-dark: rgba(255, 255, 255, 0.6);
--black-logo: rgba(0, 0, 0, 1);
--white: rgba(255, 255, 255, 1);

--grey-border:#AFB1B8;
--backgr-white: #FFFFFF;
--backgr-dark: #2F303A;
--backgr-wdark: #F5F4FA;
--backgr-blue: #2196F3;
--backgr-darkblue: #188CE8;
--backgr-hero: #C4C4C4;
--social-links-grey: rgba(255, 255, 255, 0.1);
--backgr-features: #F5F4FA;
}



body {
background-color: var(--backgr-white);
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;}

p {margin-top: 0;
margin-bottom: 0;}

img {display: block;}

.footer-list, .header-contacts, .nav-list, .features-list, .team-list, .examples-list, .button, .portfolio, .icon-list, .clients-list {list-style: none;}
.footer-list, .header-contacts, .nav-list, .features-list, .team-list, .examples-list {padding: 0; margin: 0;}






/*ШИРИНА КОНТЕЙНЕРА*/
.container {width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;}


/* цвет заголовков */
.features__subtitle, .examples__title, .team__title, .clients__title,
.portfolio-title,
.team__subtitle {
color: var(--title-text-color);
}




.header {
border-bottom: 1px solid #ECECEC;
}

/* Логотип  ХЕДЕРА*/
.logo__text {color: var(--blue-color);}
.logo__text--black {color: var(--black-logo);}

.logo__text {
font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;}

.logo__link {display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    text-decoration: none;
margin-right: 93px;}

/* Навигация  СТУДИЯ + ПОРТФОЛИО + КОНТАКТИ*/
.nav-list {display: flex; 
margin-inline-start: 0;}


/* ЕМЕЙЛ + ТЕЛЕФОН*/
.header-contacts {display: flex; align-items: center;
margin-left: auto;}


/*ФЛЕКС-КОНТЕЙНЕРИ*/
.logo {display: flex; align-items: center;}


.header-container {display: flex;
align-items: center;}


/*ВІДСТУПИ В ХЕДЕРІ*/
.header-nav__item:not(:last-child) {margin-right: 50px;}
.header-contacts__item:not(:last-child) {margin-right: 30px;}


/*СТУДИЯ+ПОРТФОЛИО+КОНТАКТИ*/
.header-nav__link {
display:block;
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
padding-top: 32px;
padding-bottom: 32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-nav__link:hover, .header-nav__link:focus {color: var(--blue-color);}

.header-nav__link--current {color: var(--blue-color);}

.header-nav__item {position: relative;}


.header-nav__link--current::after {
position: absolute;
left: 0;
bottom: -1px;
display: block;
content: "";
background-image: url(../images/hover.svg);
width: 100%;
height: 4px;
background-size: cover;
border-radius: 2px;
}



/* Телефон, имейл */
.header-contacts__link {color: var(--primary-text-color);
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
font-weight: 500;
display: flex;
align-items: center;
padding-top: 32px;
padding-bottom: 32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


/*  ИКОНКИ: имейл, телефон */
.header-contacts__envelope, .header-contacts__smartphone {
margin-right: 10px;}

.header-contacts__envelope, .header-contacts__smartphone {fill: currentColor;}

.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--backgr-blue);
}








/* секция герой */
.hero {display: block;
background-color: var(--backgr-dark);
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
height: 600px;
max-width: 1600px;
margin-right: auto;
margin-left: auto;
background-image: linear-gradient(to left top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg); 
background-size: cover;
background-position: center;
 }



 /* ЗАГОЛОВОК ГЕРОЙ*/
.hero__title {
margin-top: 0;
margin-bottom: 30px;
color: var(--white-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-align:center;
text-transform: uppercase;}


/*КНОПКА ГЕРОЙ*/
.hero-button {
color: var(--white-color);
cursor: pointer;
background-color: var(--backgr-blue);
border: none;
min-width: 200px;
display: inline-block;
border-radius: 4px;
padding-top: 10px;
padding-left: 32px;
padding-bottom: 10px;
padding-right: 32px;
text-align: center;
font-weight: 700;
font-family: inherit;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.hero-button:hover, .hero-button:focus {background-color: var(--backgr-darkblue);}



/* СКРЫТЫЕ ЗАГОЛОВКИ*/
.hidden-title {position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


/* Секция Особенности */
.features {
padding-top: 94px;
padding-bottom: 94px;
}


.features-list {display:flex;
align-items: center;
justify-content: center;}

.features-block__title {
font-weight: 700;
font-size: 14px;
line-height: 1.142;
margin-top: 30px;
margin-bottom: 10px;
}


.features__description {
font-size: 14px;
line-height: 1.714;
margin: 0;}



/*секция Особенности ФОНОВЫЕ КАРТИНКИ*/

.features-block {display: flex;
justify-content: center;
align-items: center;
background-color: var(--backgr-features);
border-radius: 4px;
width: 270px;
min-height: 120px;
}


.features__item:not(:last-child) {margin-right: 30px;
}




/* Чем мы занимаемся */

.examples {padding-bottom: 94px;}

.examples-list {display:flex;  padding-top: 0;}

.examples__item:not(:last-child) {margin-right: 30px;}



.examples__title {margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align:center;}


.examples-thumb {
position: relative;
}

.examples__block {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
width: 100%;
height: 70px;
bottom: 0;
left: 0;
background-color: rgba(47, 48, 58, 0.8);}


.examples__subtitle {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--white);   
}

/* Наша КОМАНДА */
.team {background-color: var(--backgr-wdark);
padding-top: 94px;
padding-bottom: 94px;
}


/* Заголовок НАША КОМАНДА*/


.team__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}




.team-list {display: flex; 
justify-content: center;
align-items: center;}


.team-item:not(:last-child) {margin-right: 30px;}


/*ДИВ для каждого человека*/
.team__member {border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px; padding-top: 30px;
padding-bottom: 30px;
background-color: var(--backgr-white);
text-align: center; 
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);}



.team__subtitle {margin-top: 0;
margin-bottom: 10px;  
font-weight: 500;
font-size: 16px;
line-height: 1.18;}


/*Должность*/
.team__position {margin-top: 0;
margin-bottom: 16px;
font-size: 16px;
line-height: 1.19;}



/*ФОНОВЫЕ РИСУНКИ - НАША КОМАНДА*/
.icon-list {display:flex;
padding-inline-start: 0;
justify-content: center;
}

.icon__item:not(:last-child) {
margin-right: 10px;
}

.icon__link {display: flex;
background-color: var(--backgr-white);
border-radius: 50%;
color: rgba(175, 177, 184, 1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__instagram, .icon__twitter, .icon__facebook, .icon__linkedin {
margin: 12px;
fill: currentColor;
}

.icon__link:hover, .icon__link:focus {background-color: #2196F3;
color:#FFFFFF;
}





/* КЛИЕНТЫ*/
.clients {padding-top: 94px;
padding-bottom: 94px;
}

.clients-list {display: flex;

}


/* Заголовок НАШИ КЛИЕНТЫ*/


.clients__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;}




.clients__item {
    width: 170px;
    height: 92px;
}


.clients-list {padding-left: 0; padding-right: 0;
margin-block-start: 0;
margin-block-end: 0;
}


.clients__item:not(:last-child) {
margin-right: 30px;
color: rgba(175, 177, 184, 1);
}



.clients__link {display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
border-radius: 4px;
border: 1px solid #AFB1B8;
color: rgba(175, 177, 184, 1);
width: 100%;
height: 100%;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.clients__icon {
fill: currentColor;}
    


.clients__link:hover, .clients__link:focus
{border-color: rgba(33, 150, 243, 1); 
color: rgba(33, 150, 243, 1);}









/* футер */


.footer-block {
    align-items: center;
}

.footer__item:not(:last-child) {margin-bottom: 9px;}

.footer-flex {
    display: flex;
    align-items: baseline;
}


.footer  {background-color: var(--backgr-dark);
padding-top: 60px;
padding-bottom: 60px;
}



.logo__text--white {color: var(--white-color);}



.footer__link  {    
    font-family: 'Roboto';
        font-style: normal;
color: var(--white-dark);
text-decoration: none;
font-size: 14px;
line-height: 1.71px;
font-family: inherit;
    text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}



.footer__link--white {
    color: var(--white-color);}













.footer-address {
font-family: 'Roboto';
font-style: normal;
}


.city:hover, .city:focus {color: var(--blue-color);}
.footer-list .link:hover, .footer-list .link:focus {color: var(--blue-color);}



/* ДИВ в футере - присоединяйтесь*/
.footer-connect {
margin-left: 70px;
}


.footer-connect__subtitle {
font-weight: 700;
font-size: 14px;
line-height: 1.14; 
color: var(--white);
vertical-align: top;
margin-bottom: 20px;
margin-top: 0px;
}







.icon__link--white {display: flex;
background-color: var(--social-links-grey);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.icon__facebook--white, .icon__instagram--white, .icon__twitter--white, .icon__linkedin--white {
    margin: 12px;
    fill:  #FFFFFF;
}


.icon__link--white:hover, .icon__link--white:focus {
    background-color: #2196F3;}



/*SUBSCRIBE*/

.subscribe {margin-left: 93px;}

.subscribe__form {
display: flex;
}

.subscribe__title {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--white);
        margin-bottom: 20px;
}

.subscribe__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--backgr-dark);
        border-radius: 4px;
        padding: 15px 16px;
        color: rgba(255, 255, 255, 0.6);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:hover, .subscribe__input:focus {border-color:var(--backgr-white);}

.subscribe__input:focus-within {border-color: var(--backgr-white);}


.subscribe__button {display: flex;
    align-items: center;
    font-family: inherit;
    color: var(--white);
    width: 200px;
    height: 50px;
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
cursor: pointer;
padding: 0;
border: none;
padding-left: 29px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover, .subscribe_button:focus {background-color: var(--backgr-darkblue);}



.input-subscribe::placeholder {color: rgba(255, 255, 255, 0.6);
    
    font-size: 16px;
    line-height: 1.25;
}


.subscribe__position {position: relative;}

.subscribe__icon {position: absolute; 
right: 28px;
top: 13px;
margin-left: 10px;
fill:var(--backgr-white);

}


/* СТРАНИЦФА ПОРТФОЛИО */
/* кнопки */


.portfolio-section {padding-top: 94px;
    padding-bottom: 94px;

}

.button {display:flex;
justify-content: center;
padding-inline-start: 0;
margin: 0;}




.button-black {padding: 6px 22px;
    min-width: 73px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border: none;

color: var(--title-text-color);
background-color: var(--backgr-wdark);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align:center;
letter-spacing: 0.03em;
cursor: pointer;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.button .link:not(:last-child) {margin-right: 8px;}

.button-black:hover, .button-black:focus {color: var(--white-color); background-color: var(--backgr-blue);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);}





.portfolio {display: flex;
flex-wrap: wrap;
padding-left: 0;
margin-bottom: 0;
margin-top: 50px}




.portfolio .link {
margin-right: 30px;
margin-bottom: 30px;}

.portfolio .item {display: inline-block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-decoration: none;
 font-style: normal;
}


.portfolio .item:hover, .portfolio .item:focus {box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12)
}




.portfolio .link:nth-child(3n) {margin-right: 0;}
.portfolio .link:nth-last-child(-n+3) {margin-bottom: 0;}

.portfolio .description
{ padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
border-top: none;
border: 1px solid #EEEEEE;
    
}



/* Подписи к картинкам-ссылкам на портфолио */

.portfolio-title {margin-top: 0;
    padding-top: 0;
margin-bottom: 4px;
font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .subtitle {margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
font-size: 16px;
line-height: 1.88;
color: var(--primary-text-color);
}



.portfolio-subtitle {
font-size: 18px;
line-height: 1.56;
color: var(--white-color);
}



/*ПОЗИЦИОНИРОВАНИЕ*/
.portf-thumb {position: relative;
overflow: hidden;
}

.portf-subtitle {position: absolute;
width: 100%;
height: 294px;
left: 0;
bottom: 0;
padding: 63px 24px;
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.portf-name {
    font-size: 18px;
    line-height: 1.56;
    color: var(--white);}


 .portfolio .item:focus .portf-subtitle, .portfolio .item:hover .portf-subtitle {
 transform: translateY(0);}


/*МОДАЛЬНОЕ ОКНО*/
     .backdrop {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.backdrop.is-hidden {opacity: 0;
pointer-events: none;
visibility: hidden;
}


.backdrop.is-hidden .modal {
transform: translate(-50%, -50%) scale(1.2);
}


 .modal {position: absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
     left: 50%;
background-color: var(--backgr-white);
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
 }


 .close__button {position: absolute;
    top: 8px;
    right: 8px;
     display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
     width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    fill: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}






.close__button:hover, .close__button:focus {
    fill: var(--backgr-blue);
}

/* ФОРМА*/


   
    
.form__title {display: block;
font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
}


.form__field {display: flex;
    flex-direction: column;
    }
    


.form__label {margin-bottom: 4px;
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;

}
.form__field:not(:last-child) {margin-bottom: 10px;}

.form-name__input, .form-phone__input, .form-email__input {
padding: 0;
margin: 0; 
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 448px;
height: 40px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-top: 12px;
padding-left: 42px;
padding-bottom: 12px;
padding-right: 12px;}


input:hover, .form__textarea {outline: 0;}
input:focus, .form__textarea {outline: 0;}
input:focus-within, .form__textarea {outline: 0;
}

.form-name__input:hover, .form-name__input:focus {
    border-color: var(--backgr-blue);
}

.form-phone__input:hover,
.form-phone__input:focus {
    border-color: var(--backgr-blue);
}

.form-email__input:hover,
.form-email__input:focus {
    border-color: var(--backgr-blue);
}


textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;}
    


.form__textarea {resize: none;
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
width: 448px;
height: 120px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.form__textarea:hover, .form__textarea:focus {
    border-color: var(--backgr-blue);
}




.form-agreement {display: flex;
align-items: baseline;
margin-top: 20px;
margin-bottom: 30px;
justify-content: center;
align-items: center;
}

.form-agreement__conditions { color:var(--blue-color);
}



    .form-agreement__label {display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
            line-height: 1.71;
        
            color: #757575;
    }

.form-agreement__checkbox {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    width: 15px;
        height: 15px;
}


    .form-agreement__icon {position: absolute;
    top: 0;
    left: 0;
    background-origin: border-box;
border: 2px solid #212121;
border-radius: 2px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .form-agreement__position {display: block;
        position: relative;
        margin-right: 8px;
    width: 15px;
        height: 15px;}

        .form-agreement__checkbox:checked + .form-agreement__icon {background-color: var(--backgr-blue);
        border: none;}


 .form-agreement__checkbox:focus+.form-agreement__icon {
     border-color: var(--backgr-blue);}


/*ПОЗИЦИОНИРОВАНИЕ ВНУТРИ INPUT*/

.form-name {position: relative;}
.form-name__icon {position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: 11px;
left: 12px;
fill: #212121;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name__input:hover+.form-name__icon, .form-name__input:focus+.form-name__icon {
fill: var(--backgr-blue);}


.form-name__input:focus-within+.form-name__icon {
fill: var(--backgr-blue);}


.form-phone {position: relative;}
.form-phone__icon {position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 11px;
    left: 12px;
fill: #212121;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-phone__input:hover+.form-phone__icon, .form-phone__input:focus+.form_phone__icon {
    fill: var(--backgr-blue);
}

.form-phone__input:focus-within+.form-phone__icon {
    fill: var(--backgr-blue);
}



.form-email {position: relative;}
.form-email__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 11px;
    left: 12px;
fill: #212121;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-email__input:hover+.form-email__icon,
.form-email__input:focus+.form-email__icon {
    fill: var(--backgr-blue);
}


.form-email__input:focus-within+.form-email__icon {
    fill: var(--backgr-blue);
}


    .submit-button {display: flex;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        height: 50px;
        background-color: var(--backgr-blue);
        font-family: inherit;
        color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
border: none;
cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

        .submit-button:hover, .submit-button:focus {
            background-color: var(--backgr-darkblue);
        }