:root {--primary-text-color:rgba(117, 117, 117, 1); 
--title-text-color: rgba(33,33, 33, 1);
--blue-color: rgba(33, 150, 243, 1);
--white-color: rgba(255, 255, 255, 1); 
--white-dark: rgba(255, 255, 255, 0.6);
--black-logo: rgba(0, 0, 0, 1);
--white: rgba(255, 255, 255, 1);

--grey-border:#AFB1B8;
--backgr-white: #FFFFFF;
--backgr-dark: #2F303A;
--backgr-wdark: #F5F4FA;
--backgr-blue: #2196F3;
--backgr-darkblue: #188CE8;
--backgr-hero: #C4C4C4;
--social-links-grey: rgba(255, 255, 255, 0.1);
--backgr-features: #F5F4FA;
}



body {
background-color: var(--backgr-white);
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;}

p {margin-top: 0;
margin-bottom: 0;}

.img {display: block;}

.footer-list, .contacts, .nav, .features, .photo-list, .ex-list, .button, .portfolio, .social-links, .clients-list .link, .white-links {list-style: none;}
.footer-list, .contacts, .nav, .features, .photo-list, .ex-list {padding: 0; margin: 0;}


/*
.container, .nav .link, .contacts .link, .team .container, .address, .features .item, .button, .description, .portfolio {outline: 2px solid tomato;}
header {background-color: yellow;}*/


/*БОРДЕР-БОКС*/
html {box-sizing: border-box;
}

*,
*::before,
*::after {box-sizing: inherit;
}



/*ШИРИНА КОНТЕЙНЕРА*/
.container {width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;}






/* Логотип  ХЕДЕРА*/
.blue-logo {color: var(--blue-color);}
.black-logo {color: var(--black-logo);}

.blue-logo, .black-logo, .white-logo {
font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;}

.top.logo {display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    text-decoration: none;
margin-right: 93px;}

/* Навигация  СТУДИЯ + ПОРТФОЛИО + КОНТАКТИ*/
.nav {display: flex; 
    margin-inline-start: 0;}



/* ЕМЕЙЛ + ТЕЛЕФОН*/
.contacts {display: flex; align-items: center;
  
margin-left: auto;
}


/*ФЛЕКС-КОНТЕЙНЕРИ*/
.flex-header {display: flex; align-items: center;}
.header-container {display: flex;
align-items: center;}



/*ВІДСТУПИ В ХЕДЕРІ*/
.nav .item:not(:last-child) {margin-right: 50px;}
.contacts .item:not(:last-child) {margin-right: 30px;}


/*СТУДИЯ+ПОРТФОЛИО+КОНТАКТИ*/
.nav .link {
    display:block;
    color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
padding-top: 32px;
padding-bottom: 32px;
}


.nav .link:hover, .nav .link:focus {color: var(--blue-color);}

.nav .link.current {color: var(--blue-color);}

.nav .item {position: relative;}


.nav .link.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    content: "";
background-image: url(../images/hover.svg);
width: 100%;
height: 4px;
background-size: cover;
border-radius: 2px;

}



/* Телефон, имейл */
.contacts .link {color: var(--primary-text-color);
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
font-weight: 500;
display: flex;
align-items: center;
padding-top: 32px;
    padding-bottom: 32px;
 }




.contacts .link:hover, .contacts .link:focus {
    color: var(--backgr-blue);
}


/*  ИКОНКИ: имейл, телефон */
.envelope, .smartphone {
    margin-right: 10px;}

    
.contacts .envelope, .contacts .smartphone {fill: currentColor;}



header {border-bottom: 1px solid #ECECEC;
}





/* цвет заголовков */
.section-title, .portfolio-title, .name {color: var(--title-text-color); }




/* секция герой */
.hero {display: block;
background-color: var(--backgr-dark);
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
height: 600px;
max-width: 1600px;
margin-right: auto;
margin-left: auto;
background-image: linear-gradient(to left top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg); 
background-size: cover;
background-position: center;
 }



 /* ЗАГОЛОВОК ГЕРОЙ*/
.hero-title {
margin-top: 0;
margin-bottom: 30px;

color: var(--white-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-align:center;
text-transform: uppercase;}


/*КНОПКА ГЕРОЙ*/
.button-white {
color: var(--white-color);
cursor: pointer;
background-color: var(--backgr-blue);
border: none;

min-width: 200px;
display: inline-block;
border-radius: 4px;
padding-top: 10px;
padding-left: 32px;
padding-bottom: 10px;
padding-right: 32px;
text-align: center;

font-weight: 700;
font-family: inherit;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;}

.button-white:hover, .button-white:focus {background-color: var(--backgr-darkblue);}



/* СКРЫТЫЕ ЗАГОЛОВКИ*/
.hidden-title {position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


/* Секция Особенности */
.section-features {
padding-top: 94px;
padding-bottom: 94px;
}


.features {display:flex;
align-items: center;
justify-content: center;}

.features .section-title {
font-weight: 700;
font-size: 14px;
line-height: 1.142;
margin-top: 30px;
margin-bottom: 10px;
}


.section .hidden-title {margin: 0;}


.features .description{
font-size: 14px;
line-height: 1.714;
margin: 0;}




/*секция Особенности ФОНОВЫЕ КАРТИНКИ*/

.feature-back {display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgr-features);
    border-radius: 4px;
    width: 270px;
    min-height: 120px;
}




.features .item:not(:last-child) {margin-right: 30px;
}




/* Чем мы занимаемся */

.section-examples {padding-bottom: 94px;}

.ex-list {display: flex;  padding-top: 0;}

.ex-list .item.item:not(:last-child) {margin-right: 30px;}

.ex-list .examples {display: block;}

.we-do {margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align:center;}

.wedo-thumb {
    position: relative;
}

.wedo-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
background-color: rgba(47, 48, 58, 0.8);}


    .wedo-name {


font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white);
   
}

/* Наша КОМАНДА */
.team {background-color: var(--backgr-wdark);
padding-top: 94px;
padding-bottom: 94px;
}

.photo-list {display: flex; 
justify-content: center;
align-items: center;}


.photo-list .item:not(:last-child) {margin-right: 30px;}


/*ДИВ для каждого человека*/
.person {border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px; padding-top: 30px;
padding-bottom: 30px;
background-color: var(--backgr-white);
text-align: center;}

.person {box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);}



/* Заголовок НАША КОМАНДА*/
.team .section-title {
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align:center;}

.photo {display: block;}

.name {margin-top: 0;
margin-bottom: 10px;  
font-weight: 500;
font-size: 16px;
line-height: 1.18;}


/*Должность*/
.position {margin-top: 0;
margin-bottom: 16px;}

.person .position {
font-size: 16px;
line-height: 1.19;}

/*ФОНОВЫЕ РИСУНКИ - НАША КОМАНДА*/
.social-links {display:flex;
    padding-inline-start: 0;
    justify-content: center;
}

.social-links .link:not(:last-child) {
    margin-right: 10px;
}

.social-links .item {display: flex;
    
    background-color: var(--backgr-white);
    border-radius: 50%;
    color: rgba(175, 177, 184, 1);
}

.link .instagram, .link .twitter, .link .facebook, .link .linkedin {
    margin: 12px;
    fill: currentColor;
}

.person .item:hover, .person .item:focus {background-color: #2196F3;
    color:#FFFFFF;
}







/* КЛИЕНТЫ*/
.section-clients {padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {display: flex;

}


/* Заголовок НАШИ КЛИЕНТЫ*/
.section-clients .section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


.clients-list .link {
    width: 170px;
    height: 92px;
}


.clients-list {padding-left: 0; padding-right: 0;
margin-block-start: 0;
margin-block-end: 0;
}


.clients-list .link:not(:last-child) {
margin-right: 30px;
color: rgba(175, 177, 184, 1);
}



.clients-list .item {display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
border-radius: 4px;
border: 1px solid #AFB1B8;
color: rgba(175, 177, 184, 1);
width: 100%;
height: 100%;
}



.client-one, .client-two, .client-three, .client-four, .client-five, .client-six {

fill: currentColor;}
    


.clients-list .item:hover, .clients-list .item:focus
{border-color: rgba(33, 150, 243, 1); 
    color: rgba(33, 150, 243, 1);}
















/* футер */
.city {color: var(--white-color);
font-size: 14px;
line-height: 1.71;
font-family: inherit;
text-decoration: none;}

.logo-address {
    align-items: center;
}

.footer-list .item:not(:last-child) {margin-bottom: 9px;}

.footer-flex {
    display: flex;
    align-items: baseline;
}


.footer  {background-color: var(--backgr-dark);
padding-top: 60px;
padding-bottom: 60px;
}

.bottom.logo {display:block; 

margin-bottom: 20px;
text-decoration: none;}

.white-logo {color: var(--white-color);}

.footer-list .link {    
color: var(--white-dark);
text-decoration: none;
font-size: 14px;
line-height: 1.71px;}

.logo-address .address {
        font-family: 'Roboto';
        font-style: normal;

}


.city:hover, .city:focus {color: var(--blue-color);}
.footer-list .link:hover, .footer-list .link:focus {color: var(--blue-color);}

.footer-list .link, .city, address .link {font-family: 'Roboto';
font-style: normal;}




.invite {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; 
    color: var(--white);
    vertical-align: top;
    margin-bottom: 20px;
    margin-top: 0px;
}

.white-link:not(:last-child) {margin-right: 10px;
}



.white-links {display: flex;
justify-content: center;
padding-inline-start: 0;
margin-block-start: 0;
margin-block-end: 0;
    }

.white-item {display: flex;}

.white-links .white-item {
background-color: var(--social-links-grey);
    border-radius: 50%;
  
}

.white-link .white-instagram,
.white-link .white-twitter,
.white-link .white-facebook,
.white-link .white-linkedin {
    margin: 12px;
    fill:  #FFFFFF;
}


.white-links .white-item:hover, .white-links .white-item:focus {
    background-color: #2196F3;}




/* ДИВ в футере - присоединяйтесь*/
.connect {margin-left: 70px;}










/* СТРАНИЦФА ПОРТФОЛИО */
/* кнопки */


.portfolio-section {padding-top: 94px;
    padding-bottom: 94px;

}

.button {display:flex;
justify-content: center;
padding-inline-start: 0;
margin: 0;}




.button-black {padding: 6px 22px;
    min-width: 73px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border: none;

color: var(--title-text-color);
background-color: var(--backgr-wdark);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align:center;
letter-spacing: 0.03em;
cursor: pointer;}

.button .link:not(:last-child) {margin-right: 8px;}

.button-black:hover, .button-black:focus {color: var(--white-color);}
.button-black:hover, .button-black:focus {background-color: var(--backgr-blue);} 

.button-black:hover, .button-black:focus {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);}





.portfolio {display: flex;
flex-wrap: wrap;
padding-left: 0;
margin-bottom: 0;
margin-top: 50px}




.portfolio .link {
margin-right: 30px;
margin-bottom: 30px;}

.portfolio .item {display: inline-block;}


.portfolio .item:hover, .portfolio .item:focus {box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12)
}




.portfolio .link:nth-child(3n) {margin-right: 0;}
.portfolio .link:nth-last-child(-n+3) {margin-bottom: 0;}

.portfolio .description
{ padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
border-top: none;
border: 1px solid #EEEEEE;
    
}



/* Подписи к картинкам-ссылкам на портфолио */

.portfolio-title {margin-top: 0;
    padding-top: 0;
margin-bottom: 4px;
font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .subtitle {margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
font-size: 16px;
line-height: 1.88;
color: var(--primary-text-color);
}

.portfolio .item {text-decoration: none;
    font-style: normal;
}

.portfolio-subtitle {
font-size: 18px;
line-height: 1.56;
color: var(--white-color);
}



/*ПОЗИЦИОНИРОВАНИЕ*/
.portf-thumb {position: relative;
overflow: hidden;
}

.portf-subtitle {position: absolute;
width: 100%;
height: 294px;
left: 0;
bottom: 0;
padding: 63px 24px;
background-color: rgba(33, 150, 243, 0.9);
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.portf-name {
    font-size: 18px;
    line-height: 1.56;
    color: var(--white);}


 .portfolio .item:focus .portf-subtitle, .portfolio .item:hover .portf-subtitle {
     opacity: 1; transform: translateY(0);}


/*МОДАЛЬНОЕ ОКНО*/
     .backdrop {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    }


.backdrop.is-hidden {opacity: 0;
pointer-events: none;

}




 .modal {position: absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
     left: 50%;
background-color: var(--backgr-white);
transform: translate(-50%, -50%);
 }


 .close-button {display:flex;
    justify-content: center;
    align-items: center;
     width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 543px;
    margin-left: 490px;
    margin-right: 8px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    
