.examples {display: none;}

.examples {
$backgr-examples: rgba(47, 48, 58, 0.8);
padding-bottom: 94px;


&-list {
display: flex;
list-style: none;
padding: 0;
margin: 0;}



&__item:not(:last-child) {
margin-right: 30px;}



&__title {
margin-top: 0;
margin-block-start: 0;
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: $title-text-color;}


&-thumb {position: relative;}

&__block {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
width: 100%;
height: 70px;
bottom: 0;
left: 0;
background-color: $backgr-examples;}


&__subtitle {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: $white;}

}