.features {
padding-top: 60px;
padding-bottom: 60px;


&__description {
font-size: 14px;
line-height: 1.714;
}



&__subtitle {
    text-align: center;
color: $title-text-color;
margin-top: 30px;
margin-bottom: 10px;
}}



.features__item:not(:last-child) {
            margin-bottom: 30px;}


.features { @media screen and (min-width: 1199px) {
padding-top: 94px;
    padding-bottom: 94px;}}



.features-block {
display: flex;
justify-content: center;
align-items: center;
background-color: $backgr-wdark;
border-radius: 4px;

min-height: 120px;


&__title {
font-weight: 700;
font-size: 14px;
line-height: 1.142;
margin-top: 30px;
margin-bottom: 10px;
}
}

.features__item:not(:first-child) {margin-top: 30px;}


.features-list {
 @media screen and (min-width: 768px)  

 {display: flex;
flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-block-start: 0;
    margin-block-end: 0;}}



 .features__item {
     @media screen and (min-width: 768px) {
flex-basis: calc((100% - 2*30px)/2);
}
&:not(:first-child) {
    margin-top: 0;
}}


 .features__item {
 @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3*30px)/4);}
 }


 .features__subtitle {
     @media screen and (min-width: 768px) {
         text-align: start;
          }
     }