.logo__text {
    color: $blue-color;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 1.16;


    &--black {
        color: $black-logo;}


    &--white {
        color: $white; }
}


.logo__link {
    display: block;
    text-decoration: none;
}




.logo-footer {padding: 0;}

   