

.clients {
padding-top: 60px;
padding-bottom: 60px;


&__title {
margin-top: 0;
margin-bottom: 30px;
font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;
color: $title-text-color;}

&-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
margin-block-start: 0;
margin-block-end: 0;

}
}


.clients__item {flex-basis: calc((100% - 30px)/2)  ;}





.clients__link {
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
height: 92px;
border-radius: 4px;
border: 1px solid $grey-border;
color: $grey-border;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
border-color: $blue-color;
color: $blue-color;}
}


.clients__icon {
fill: currentColor;
}




.clients-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.clients__item {
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2*30px)/3);
    }
}


.clients__item {
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 5*30px)/6);
    }
}