.team {
background-color: $backgr-wdark;
padding-top: 94px;
padding-bottom: 94px;


&__title {
margin-top: 0;
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: $title-text-color;
    }

&-list {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
padding: 0;
margin: 0;
}


&-item:not(:last-child) {
margin-right: 30px;
}


.team__member {
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
padding: 30px 32px;
background-color: $white;
text-align: center;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
}


&__subtitle {
margin-top: 0;
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: $title-text-color;
}

&__position {
margin-top: 0;
margin-bottom: 16px;
font-size: 16px;
line-height: 1.19;
}
}