.portfolio {
padding-top: 94px;
padding-bottom: 94px;

&-title {
color: $title-text-color; }
     }


.portfolio-examples-list {
display: flex;
flex-wrap: wrap;
padding-left: 0;
margin-bottom: 0;
margin-top: 50px;
list-style: none;
     }


.portfolio-examples__item {
margin-right: 30px;
margin-bottom: 30px;


&:nth-child(3n) {
margin-right: 0;}

         
&:nth-last-child(-n+3) {
margin-bottom: 0;
}
}


.portfolio-examples__link {
display: inline-block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-decoration: none;
font-style: normal;


&:hover,
&:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12)}
     }


.portfolio {
&__description {
padding: 20px 24px;
border-top: none;
border: 1px solid #EEEEEE;
         }

        
&__title {
margin-top: 0;
padding-top: 0;
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
color: $title-text-color;
line-height: 2;
letter-spacing: 0.06em;
}



&__subtitle {
margin-bottom: 0;
padding-bottom: 0;
margin-top: 0;
font-size: 16px;
line-height: 1.88;
color: $primary-text-color;
         }


&__text {
font-size: 18px;
line-height: 1.56;
color: $white; }
     }


.portfolio-examples-thumb {
position: relative;
overflow: hidden;
}


.portfolio__overlay {
$portfolio-overlay: rgba(33, 150, 243, 0.9);
position: absolute;
width: 100%;
height: 294px;
left: 0;
bottom: 0;
padding: 63px 24px;
background-color: $portfolio-overlay;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-size: 18px;

.portfolio-examples__link:focus &,
.portfolio-examples__link:hover & 
{transform: translateY(0);}
}