.subscribe {
margin-left: 93px;

&__form {
display: flex;
    }

&__title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: $white;
margin-bottom: 20px;}

&__position {
position: relative;}
}


.subscribe__input {
width: 358px;
height: 50px;
margin-right: 12px;
border: 1px solid $subscribe-border;
background-color: $backgr-dark;
border-radius: 4px;
padding: 15px 16px;
color: $white-dark;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover, &:focus {
border-color: $white;
    }

&:focus-within {
border-color: $white;}
}


.subscribe__button {
display: flex;
align-items: center;
font-family: inherit;
color: $white;
width: 200px;
height: 50px;
background-color: $blue-color;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
cursor: pointer;
padding: 0;
border: none;
padding-left: 29px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover, &:focus {
background-color: $backgr-darkblue;}
}

.subscribe__icon {
position: absolute;
right: 28px;
top: 13px;
margin-left: 10px;
fill: $white;
}

.input-subscribe::placeholder {
color: $white-dark;
font-size: 16px;
line-height: 1.25;
}