@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


$primary-text-color: rgba(117, 117, 117, 1);
$title-text-color: rgba(33, 33, 33, 1);
$blue-color: rgba(33, 150, 243, 1);
$white-dark: rgba(255, 255, 255, 0.6);
$black-logo: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$social-links-grey: rgba(255, 255, 255, 0.1);
$subscribe-border: rgba(255, 255, 255, 0.3);
$grey-border: #AFB1B8;
$backgr-dark: #2F303A;
$backgr-wdark: #F5F4FA;
$backgr-darkblue: #188CE8;
$backgr-hero: #C4C4C4;
$icon-color: rgba(175, 177, 184, 1);
$icon-backgr: #2196F3;
$form-border: rgba(33, 33, 33, 0.2);

